@import 'vars';
@import 'typography';

.menu-modal {
  display:    none;
  visibility: hidden;
}

// General Body Styling
body {
  margin:           0;
  padding:          0;
  background-color: white !important;
  font-family:      Helvetica, sans-serif;
  color:            $font-color--dark;
  overflow-x:       hidden;
}

// End General Body Styling

// Bundle Page Styling
.bundle-page {
  h1, h2, h3, h4, h5, p {
    padding-left:  0 !important;
    padding-right: 0 !important;
  }
}

// End Bundle Page Styling

/* General Styling */

.container {
  max-width: 1000px;
  &.large-container {
    max-width: 100%;
    width:     90%;
  }
}

.pull-right {
  float: right;
}

.center {
  text-align: center;
}

.float-right {
  float: right !important;
}

.npr {
  padding-right: 0 !important;
}

.npl {
  padding-left: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-overflow-y {
  overflow-y: hidden !important;
}

.bold {
  font-weight: bold !important;
}

.underline {
  text-decoration: underline;
}

.border-bottom {
  border-bottom: 1px solid #D9D9D9;
}

ul {
  list-style: none;
}

hr {
  &.bold-hr {
    border-top: 2px solid #CFCFCF !important;
  }
}

// End General Styling

// Arrow Styling:
.arrow {
  &.arrow-left {
  }
  &.arrow-right {
    transform: scaleX(-1);
  }
}

// End Arrow Styling

// Background Styling
.bg-grey {
  background-color: #E5E5E5 !important;
  &.overlay {
    background-color: rgba(255, 255, 255, 0.90);
  }
}

.grey-bg {
  background: #F3F4F5;
}

.bg-white {
  background-color: white;
}

// End Background styling

//CUSTOM MEDIA QUERIES.
//Super Small Phones
@media (max-width: 350px) {
  .peachy-wrap {
    &.bundle-page {
      .header-row {
        h1 {
          font-size: 35px !important;
        }
        h2 {
          font-size: 30px !important;
        }
        .button {
          padding: 15px 30px !important;
        }
      }
      .bundle-list {
        p {
          font-size: 14px !important;
        }
      }
      .hide-bg {
        .button {
          font-size: 14px !important;
        }
      }
    }
  }
}

//SMALL PHONES AND BELOW
@media (max-width: 768px) {
  .nav-container {
    text-align: center;
  }
  .nav-list {
    display:    none;
    visibility: hidden;
    .logo-link {
      width:      100%;
      text-align: center;
    }
    .button {
    }
  }
  .nav-list {
    .nav-item {
      margin-left: 0 !important;
    }
  }
  .header-row {

    h1 {
      font-size:  48px !important;
      margin-top: -15px !important;
    }
    h2 {
      font-size: 30px !important;
    }
    h1, h2 {
      padding-left:  2% !important;
      padding-right: 2% !important;
    }
  }
  .secure-page {
    .submit-row {
      text-align: center;
      a {
        float: none !important;
      }
    }
  }
  .bundle-page {
    h1, h2, h3, h4, h5 {
      text-align: center !important;
    }
    h3 {
      font-size: 24px !important;
    }
    .row {
      margin-right: 0;
    }
    .icon-list {
      li {
        width: 49%;
      }
    }
    .hide-bg {
      padding: 0px !important;
      h3, h3 {
        font-size: 22px !important;
      }
      p {
        text-align: center;
        max-width:  90%;
        margin:     0 auto;
      }
    }
  }
  .footer, footer {
    text-align: center;
    img {
      float: none !important;
    }
    .footer-logo {
      max-width: 100%;
      margin:    0 auto;
      float:     none;
      img {
        float: none;
      }
    }
  }
}

@media (max-width: 992px) and (min-width: 600px) {
  .hide-bg {
    .button {
      max-width: 500px !important;
    }
  }
}

//MEDIUM PHONES AND BELOW
@media (max-width: 992px) {
  .bundle-page {
    .hide-bg {
      padding:          20px;
      background-image: none !important;
      //.button {
      //  width: 100%!important;
      //  max-width: 100%!important;
      //  padding: 20px 0!important;
      //}
    }
    h2.statement {
      padding-left:  5%;
      padding-right: 5%;
    }
    .promo-bar {
      .dark-bg {
        width:      100% !important;
        text-align: center;
        max-width:  100% !important;
        :after {
          display: none;
        }
      }
      div.wrap {
        img {
          max-width:  100%;
          margin:     0 auto !important;
          text-align: center;
          display:    block;
          float:      none !important;
          margin-top: -10px !important;
        }
        p {
          max-width:   100% !important;
          text-align:  center;
          padding-top: 5px;
        }
      }
    }
    .content-section {
      &.reviews {
        p {
          text-align: center;
        }
      }
    }
    .bordered-content {
      margin:     2%;
      padding:    10px 20px 20px !important;
      max-height: 1000px !important;
    }
    .cta-section {
      h3 {
        line-height:   30px;
        margin-bottom: 30px !important;
      }
      a {
        float: none !important;
      }
    }
  }
}

//MEDIUM PHONES AND UP.
@media (min-width: 992px) {
}

//BELOW THE SKETCH FILE SIZE.
@media (min-width: 1300px) {
}

//ABOVE THE SKETCH FILE SIZE.
@media (max-width: 1300px) {
}

// End Custom Media Queries Styling

// Button Styling
.button {
  font-family:    Lato, sans-serif;
  font-size:      14px;
  letter-spacing: 0px;
  padding:        10px 23px 10px;
  text-transform: uppercase;
  font-weight:    500 !important;
  &.btn-raised {
    box-shadow: 0px 2px 4px 0px #AE1A2C;
  }
  &.btn-round {
    border-radius: 100px;
  }
  &.btn-peach, &.peach-btn {
    background: #FF445D;
    color:      #FFFFFF;
  }
  &.btn-white, &.white-btn {
    background-color: white;
    color:            #FF445D;
  }
}

.bundle-page, .about-page, .secure-page, .sub {
  .button {
    border-radius:   100px;
    font-size:       18px;
    font-weight:     500;
    letter-spacing:  0.71px;
    padding:         21px 50px;
    display:         inline-block;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      cursor:          pointer;
    }
    &.blue-btn {
      color:      #FFFFFF !important;
      background: #21BBFF !important;
      &:hover, &:focus {
        background-color: #21A4E6 !important;
      }
    }
    &.pink-btn, &.btn-pink {
      color:       white;
      background:  #FF445D;
      box-shadow:  0px 2px 4px 0px rgba(81, 40, 55, 0.52);
      font-weight: 300;
      &:hover {
        background: #e6425b;
      }
    }
    &.square-btn {
      border-radius: 5px;
      padding:       5px 30px;
    }
  }
}

//End Button Styling

/* Nav Styling */
nav {
  height:         90px;
  line-height:    95px;
  text-transform: uppercase;
  border-bottom:  1px solid lightgray !important;
  &.navbar {
    margin-bottom: 0;
  }
  &.transparent {
    background-color: transparent !important;
    border-bottom:    none !important;
    a {
      color: white !important;
    }
    .button {
      border-color: white;
    }
  }
  object {
    margin-top: 20px;
  }
  ul {
    li {
      display:     inline-block;
      margin-left: 40px;
      line-height: 95px;
      a {
        &:not(.button) {
          font-family:    Lato-Regular, sans-serif;
          font-size:      14px;
          color:          #000000;
          letter-spacing: 1px;
        }
        &.button {
          /* TODAY’S OFFER: */
          font-family:    Lato-Regular, sans-serif;
          font-size:      14px;
          color:          #FF445D;
          letter-spacing: 1px;
          border:         1px solid #FF445D;
          border-radius:  100px;
        }
      }
    }
  }

}

// Footer Styling
footer {
  background: #2A293B;
  padding:    30px 0;
  ul {
    li {
      padding-bottom: 7px;
      a {
        text-decoration: none;
        font-size:       14px;
        color:           white;
        font-weight:     300;
        letter-spacing:  1.1px;
        &:hover {
          color:           darken(white, 20%);
          text-decoration: none;
        }
      }
    }
  }
  img {
    margin-left: 5px;
  }
}

// /Footer Styling

ul {
  padding-left: 0;
}

// CTA Section Styling
.cta-section {
  background: #FF445D;
  padding:    50px 20px;
  h3, a {
    display: inline-block;
  }
  h3 {
    font-weight:    400;
    font-size:      30px;
    color:          #FFFFFF !important;
    letter-spacing: 1px;
    line-height:    30px;
    margin-top:     0;
  }
  a {
    float: right;
  }
  h3 {
    margin-bottom: 0 !important;
    line-height:   67px;
  }
}

// /CTA Section Styling

//Peachy Wrap - This wrap includes all styling for PeachyFit.com's Main styling.
.peachy-wrap {
  -webkit-font-smoothing: antialiased !important;
  font-family:            Lato, sans-serif;
  .black-heading {
    color: #4A4A4A !important;
  }
  //.mid-header {
  //  font-family: Lato-Bold, sans-serif!important;
  //  font-size: 24px!important;
  //  letter-spacing: 0.8px!important;
  //}
  &.homepage {
    .transparent-header {
      margin-top:    -90px;
      padding-top:   90px;
      border-bottom: none;
    }
    .grey-promo-row {
      background:     #D8D8D8 !important;
      font-family:    Avenir-Medium, sans-serif;
      font-size:      14px;
      color:          #9B9B9B;
      letter-spacing: -0.37px;
      text-align:     center;
      padding:        25px 0;
      .col {
        padding-top:    10px;
        padding-bottom: 10px;
        @media (max-width: 750px) {
          margin-top: 10px;
        }
      }
      img {
        margin-right: 10px;
        max-height:   30px;
        @media (max-width: 750px) {
          max-height:   18px;
          margin-right: 10px;
        }
      }
    }
    .community-row {
      padding:   80px 0 80px !important;
      max-width: 83%;
      margin:    0 auto;
      @media (max-width: 993px) {
        background-image:    linear-gradient(-1deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url('../images/graphics/instagrams.png');
        background-size:     contain;
        background-repeat:   no-repeat;
        background-position: center left;
      }
      @media (max-width: 560px) {
        background-image: none;
      }
      h3 {
        font-family:    Lato-Bold, sans-serif;
        font-size:      20px;
        color:          #000000;
        text-transform: uppercase;
        letter-spacing: 1.11px;
      }
      p {
        font-family:    Lato-Regular, sans-serif;
        font-size:      16px;
        color:          #000000;
        letter-spacing: 0.89px;
        line-height:    25px;
        padding:        40px 0 40px;
      }
      a {
        background:     #FFFFFF;
        box-shadow:     0 2px 4px 0 rgba(0, 0, 0, 0.55);
        border-radius:  100px;
        font-family:    Lato-Regular, sans-serif;
        font-size:      18px;
        color:          #2A293B;
        letter-spacing: 1px;
        padding:        18px 31px;
        margin-bottom:  40px;
        display:        inline-block;
        img {
          margin-right: 10px;
          margin-top:   -5px;
        }
      }
      .content-wrap {
        max-width: 100%;
        margin:    0 auto;
        @media (max-width: 993px) {
          text-align: center;
          p {
            margin: 0 auto;
          }
        }
      }
      .right-col {
        padding: 40px 10px !important;
        @media (max-width: 993px) {
          background-color: rgba(255, 255, 255, 0.55);
          //border: 1px solid rgba(0, 0, 0, 0.05)
        }
        p {
          max-width: 505px;
        }
      }
    }
    .big-banners {
      background-image:    linear-gradient(-1deg, rgba(101, 99, 164, 0.8) 0%, rgba(0, 0, 0, 0.81) 100%), url('../images/backgrounds/paige-bg-img.png');
      background-size:     cover;
      background-repeat:   no-repeat;
      background-position: center;
      padding-bottom:      60px;
      .big-banner {
        max-height:          600px;
        height:              600px;
        width:               100%;
        background-size:     contain;
        background-repeat:   no-repeat;
        margin:              20px auto 10px;
        text-align:          center;
        background-position: center center;
        float:               left;
        &.left {
          background-position: center right;
          @media (max-width: 1000px) {
            background-position: center center;
          }
        }
        &.right {
          background-position: center left;
          @media (max-width: 1000px) {
            background-position: center center;
          }
        }
        @media (max-width: 1000px) {
          &.left, &.right {
            background-position: center center;
          }
        }
        @media (max-width: 500px) {
          &.right {
            margin-top: 10px !important;
          }
          &.left, &.right {
            height:              450px;
            max-width:           90%;
            margin:              0 5%;
            background-position: center center;
          }
        }
      }
    }
  }

  //Sub Page Standard Styling
  &.sub {
    .header-row {
      padding-top:    115px;
      padding-bottom: 115px;
      h1 {
        font-family:    Lato-Black, sans-serif;
        font-size:      50px;
        color:          #FFFFFF;
        letter-spacing: 0;
        text-shadow:    0 2px 4px rgba(0, 0, 0, 0.50);
        text-transform: uppercase;
      }
    }
    h2 {
      margin-bottom: 30px;
    }
    h3 {
      margin-bottom: 30px;
    }
    h2 {
      font-family:    Lato-Bold, sans-serif;
      font-size:      30px;
      color:          #4A4A4A;
      letter-spacing: 1px;
    }
    h3 {
      font-family:    Lato-Bold, sans-serif;
      font-size:      30px;
      color:          #4A4A4A;
      letter-spacing: 1px;
    }
    .content-section {
      padding-top:    65px;
      padding-bottom: 65px;
      a {
        font-family: Lato-Bold, sans-serif;
        font-size:   15px;
        color:       #FF445D;
      }
      .content-half {
        margin-top: 30px;
      }
    }
  }
  //Secure Page Styling

  //Input Form Styling
  &.secure-page {
    .top-ribbon {
      background:     #FF445D;
      height:         140px;
      position:       absolute;
      right:          14%;
      float:          right;
      width:          100px;
      margin-top:     0;
      font-family:    Lato-Bold, sans-serif;
      text-align:     center;
      text-transform: uppercase;
      font-size:      30px;
      color:          #FFFFFF;
      letter-spacing: 0.93px;
    }

    .top-ribbon:after {
      content:             '';
      display:             block;
      border:              50px solid transparent;
      border-bottom-color: white;
      position:            absolute;
      bottom:              0;
    }
    .header-row {
      padding-top:   50px;
      margin-bottom: 30px;
      h1 {
        span {
          color:           #FF445D;
          text-decoration: underline;
          font-weight:     800;
        }
      }
      p {
        color:           #FF445D;
        text-decoration: underline;
      }
    }
    .banner-row {
      margin-left:  2px;
      margin-right: 2px;
      img:first-of-type {
        margin-right: 10px;
      }
      span {
        font-size:     0; line-height: 0%; width: 0;
        border-top:    16px solid #FF445D;
        border-bottom: 14px solid #FF445D;
        float:         left;
        border-left:   20px solid white;
      }
      p.banner {
        width:            50%;
        float:            right;
        text-align:       center;
        background-color: #FF445D;
        line-height:      30px;
        height:           30px;
        font-weight:      700;
        color:            white;
      }
    }
    .input-details {
      margin-top: 50px;
    }
    .form {
      margin-top: 30px;
    }
    .billing-row, .delivery-row {
      input, select, option {
        width:         100%;
        margin-top:    5px;
        margin-bottom: 5px;
        &:focus {
          outline: none;
        }
      }
      input {
        border-radius: 5px;
        border:        1px solid #d4d4d4;
        padding:       11px 10px;
        font-size:     15px;
      }
      select {
        height: 45px;
      }
    }
    .delivery-option-row {
      margin-top: 30px;
      p {
        font-size:      16px;
        color:          #4A4A4A;
        letter-spacing: -0.37px;
        margin-left:    15px;
      }
      input {
        margin-left: 15px;
        height:      16px;
      }
    }
    .delivery-row {
      input[type="checkbox"] {
        display: inline-block;
      }
    }
    .terms {
      margin-top:    15px;
      margin-bottom: 0;
      text-align:    center;
    }
    .submit-row {
      margin-top:    50px;
      margin-bottom: 50px;
      p {
        font-size:      15px;
        font-weight:    600;
        color:          black;
        letter-spacing: 0.66px;
        line-height:    65px;
      }
      a {
        margin-bottom: 0;
        line-height:   55px;
      }
    }
    &.completed {
      h2 {
        margin-top:     70px;
        margin-bottom:  35px;
        font-weight:    700;
        font-size:      30px;
        color:          #4A4A4A;
        letter-spacing: 0.93px;
      }
      .row:first-of-type {
        margin-bottom: 70px;
        p {
          font-family:     Lato-Bold, sans-serif;
          font-size:       22px;
          color:           #FF445D;
          letter-spacing:  0.68px;
          text-decoration: underline;
        }
      }
      p.next-steps {
        font-family:    Lato-Bold, sans-serif;
        margin-bottom:  20px;
        font-size:      18px;
        color:          #4A4A4A;
        letter-spacing: 0.56px;
      }
      ul {
        li {
          margin-bottom:  30px;
          font-family:    Lato-Regular, sans-serif;
          font-size:      16px;
          color:          #4A4A4A;
          letter-spacing: 0.56px;
          img {
            margin-right: 15px;
          }
        }
      }
      .email-notice {
        background:    rgba(255, 67, 93, 0.17);
        border-radius: 4px;
        padding:       20px 25px;
        text-align:    center;
        img {
          margin-right: 15px;
          margin-top:   -5px;
        }
        p, img {
          display: inline-block;
        }
        p {
          color:          #FF445D;
          letter-spacing: 0.5px;
          text-align:     center;
        }
      }
      .delivery-notice {
        font-family:    Lato-Regular, sans-serif;
        font-size:      22px;
        color:          #FF445D;
        letter-spacing: 0.68px;
        padding:        30px;
        img {
          max-height:  170px;
          max-width:   114px;
          margin-left: 75px;
        }
      }
    }
  }

  //About Us Page Styling
  &.about-page {
    .header-row {
      background-image:  linear-gradient(RGBA(255, 68, 93, 0.9), RGBA(255, 68, 93, 0.9)), url('../images/pages/bundle/statement-background.png') !important;
      background-repeat: no-repeat !important;
      background-size:   cover !important;
    }
    .content-section {
      p {
        font-size:      15px;
        padding-bottom: 10px;
        line-height:    25px;
        strong {
          text-decoration: underline !important;
        }
      }
    }
    .minus-margin {
      margin-top: -241px;
      max-height: 627px;
      max-width:  392px;
    }
  }
  &.ambassadors-page {
    h2, h3 {
      margin-top: 0;
    }
    .header-row {
      background-image:  linear-gradient(RGBA(255, 68, 93, 0.9), RGBA(255, 68, 93, 0.9)), url('../images/pages/bundle/statement-background.png') !important;
      background-repeat: no-repeat !important;
      background-size:   cover !important;
    }
    .ambassador-bundle {
      p, li {
        text-align: left !important;
      }
      p {
        margin-bottom: 20px;
      }
      li {
        font-weight:   500;
        font-family:   Lato-Bold, sans-serif;
        margin-bottom: 5px;
      }
      img {
        max-height: 315px;
        max-width:  455px;
      }
    }
    #money {
      max-height: 282px;
      max-width:  172px;
    }
  }
  //Bundle Page Styling
  &.bundle-page {
    font-family:  Lato, sans-serif;
    padding-left: 15px !important;
    .bundle-slider { }

    //.container {
    //  max-width: 90%!important;
    //  margin: 0 auto;
    //  padding-left:0!important;
    //  padding-right:0!important;
    //  margin-left:0!important;
    //  margin-right: 0!important;
    //}
    h1 {
      font-weight: 500;
      font-size:   60px;
      color:       #FFFFFF;
    }
    h2 {
      font-weight: 500;
      font-size:   36px;
      color:       #FFFFFF;
    }
    h3 {
      font-weight:    500;
      font-size:      30px;
      color:          #4A4A4A;
      letter-spacing: 0.9px;
      margin-top:     0;
      font-family:    Lato-bold, sans-serif;
      span {
        color: #FF445D;
      }
      &.pink-heading {
        color: #FF445D;
      }
      &.black-heading {
        color: #4A4A4A;
      }
    }
    h4 {
      font-family:    Lato-bold, sans-serif;
      font-size:      20px;
      font-weight:    500;
      color:          #FF445D;
      letter-spacing: 0.8px;
    }
    h5 {
      font-size:      16px;
      font-weight:    500;
      color:          #FF445D;
      letter-spacing: 0.53px;
    }
    h6 {
      font-size:      20px;
      font-weight:    bold;
      color:          #FF445D;
      letter-spacing: 1px;
      span.strike {
        text-decoration: line-through;
        font-size:       20px;
        font-weight:     300;
        color:           #4A4A4A;
      }
      span {
        color: #FF445D;
      }
      &.black-heading {
        color: #4a4a4a;
      }
    }
    p {
      &.light {
        font-size:      15px;
        font-weight:    300;
        color:          #4A4A4A;
        letter-spacing: 0.53px;
        line-height:    19px;
      }
    }
    .white-bg {
    }
    .todays-discount {
      font-family:    Lato-Bold, sans-serif;
      font-size:      24px;
      color:          #FF445D;
      letter-spacing: 0.8px;
      span {
        color:           #4A4A4A;
        text-decoration: line-through;
      }
    }
    .bundle-slider-section {
      h4 {
        max-width: 90%;
        margin:    40px auto;
      }
      a {
        margin: 25px 0 40px;
      }
    }
    .bundle-list-row {
      max-width:  75%;
      margin:     0 auto;
      text-align: center;
      h6 {
        font-family:    Lato-Regular, sans-serif;
        font-size:      20px;
        color:          #4A4A4A;
        letter-spacing: 0.67px;
        font-weight:    300;
        margin-top:     20px;
      }
      .bundle-list {
        text-align: left;
        margin-top: 30px;
        img {
          margin-right: 10px;
          max-height:   16px;
        }
        li {
          font-family:    Lato-Regular, sans-serif;
          font-size:      16px;
          color:          #4A4A4A;
          letter-spacing: 0.53px;
        }
      }
    }
    .highlight-list {
      margin-top:    40px;
      margin-bottom: 30px;
      li {
        background-image:          linear-gradient(-90deg, rgba(248, 94, 62, 0.00) 10%, #FA5746 70%, #FF445D 100%);
        font-family:               Lato-Bold, sans-serif;
        font-size:                 15px;
        color:                     #FFFFFF;
        letter-spacing:            0.75px;
        padding:                   10px 0px 10px 25px;
        margin-left:               25px;
        border-bottom-left-radius: 100px;
        border-top-left-radius:    100px;
        margin-bottom:             10px;
        text-transform:            uppercase;
        margin-right:              -20%;
      }
      a {
        @media (max-width: 768px) {
          max-width: 100%;
          font-size: 14px;
        }
      }
    }
    .third {
      margin-top: 50px !important;
      p {
        font-family:    Lato-Regular, sans-serif;
        font-size:      15px;
        color:          #4A4A4A;
        letter-spacing: 0.5px;
        line-height:    19px;
      }
    }
    .hide-bg {
      overflow:       hidden !important;
      padding-top:    60px !important;
      padding-bottom: 60px !important;
      h4, h3 {
        margin-top: 0 !important;
      }
      .button-row {
        margin:     0 !important;
        text-align: center;
        .button {
          width:   100%;
          padding: 15px 0;
          //max-width: 300px;
          margin:  auto auto;
        }
      }
    }
    .split-list {
      .col {
        margin-top:    17px;
        margin-bottom: 17px;
      }
      h3 {
        margin-bottom: 30px !important;
      }
      p {
        max-width:      115px;
        margin:         0 auto;
        &.bold {
          font-family:    Lato-Bold, sans-serif;
          font-size:      15px;
          color:          #000000;
          letter-spacing: 0;
        }
        font-family:    Lato-Bold, sans-serif;
        font-size:      13px;
        color:          #9B9B9B;
        letter-spacing: 0;
      }
      img {
        margin-bottom: 10px;
        max-height:    45px;
      }
    }
    // Background-Images
    .statement-section {
      background-image:  linear-gradient(RGBA(255, 68, 93, 0.9), RGBA(255, 68, 93, 0.9)), url('../images/pages/bundle/statement-background.png') !important;
      background-repeat: no-repeat !important;
      background-size:   cover !important;
    }
    .header-row {
      background:        linear-gradient(rgba(255, 68, 93, 0.71), rgba(255, 68, 93, 0.71)), url('../images/backgrounds/bundle-header-bg.png');
      background-repeat: no-repeat;
      background-size:   cover;
      padding-top:       75px;
      padding-bottom:    90px;

      h1, h2 {
        text-transform: uppercase;
      }

      h1 {
        font-family:    Lato-Black, sans-serif !important;
        font-size:      60px;
        color:          #FFFFFF;
        letter-spacing: 0;
        text-shadow:    0 2px 4px rgba(0, 0, 0, 0.50);
      }
      h2 {
        font-family:    Lato-Bold, sans-serif !important;
        font-size:      36px;
        color:          #FFFFFF;
        letter-spacing: 0;
        text-shadow:    0 2px 4px rgba(0, 0, 0, 0.50);
      }
      hr {
        border:    2px solid #FFFFFF;
        max-width: 700px;
      }
      .row {
        max-width: 750px;
        margin:    0 auto;
      }
      div.col {
        img, p {
          display: inline-block
        }
        p {
          color:        white;
          padding-left: 20px;
        }
      }
      input[type="email"] {
        height:        50px;
        width:         350px;
        max-width:     80%;
        text-align:    center;
        color:         white;
        font-size:     14px;
        background:    #F52F49;
        border-radius: 4px;
        display:       inherit;
        border:        1px solid rgba(255, 255, 255, 0.2) !important;
        margin:        70px auto 0 auto;
        &:active, &:focus, &:hover {
          outline: none;
        }
        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color: white !important;
        }
      }
      .blue-btn { //Temporary
        margin-top: 20px !important;
        padding:    10px 25px;
        font-size:  16px;
      }
      .button {
        margin-top: 40px;
      }
    }
    .promo-bar {
      .container {
        @media (max-width: 1000px) {
          max-width: 100% !important;
          width:     100%;
        }
      }
      .dark-bg {
        font-size:      16.2px;
        color:          #FFFFFF;
        letter-spacing: 0;
        line-height:    23.39px;
        background:     #9B9B9B;
        text-transform: uppercase;
        max-width:      190px;
        padding-top:    12px;
        padding-bottom: 12px;
        span {
          font-size: 24px;
        }
        span.mid {
          font-size: 18px;
        }
        :after {
          content:           '';
          position:          absolute;
          width:             0;
          height:            0;
          border:            15px solid;
          border-left-color: #9B9B9B;
          left:              100%;
          top:               50%;
          margin-top:        -15px;
        }
        @media (max-width: 1000px) {
          background:     #FF445D;
          font-family:    Lato-Black, sans-serif;
          font-size:      18px;
          color:          #FFFFFF;
          letter-spacing: 0.6px;
          width:          100% !important;
          max-width:      100% !important;
          text-align:     center !important;
          .container {
            max-width: 100% !important;
            width:     100% !important;
          }
          p {
            max-width: 235px;
            margin:    0 auto;
          }
          span {
            font-size: 18px !important;
          }
        }
      }
      .dark-bg:after {
        //content: '';
        //position: absolute;
        //
        //width: 0;
        //height: 0;
        //
        //border: 15px solid;
        //border-left-color: #292929;
        //
        //left: 100%;
        //top: 50%;
        //margin-top: -15px;
      }
      .icon {
        padding: 25px 0 15px;
        img {
          display:       block;
          float:         left;
          margin-right:  20px;
          margin-bottom: 10px;
        }
        p {
          font-size:      13px;
          color:          #7B7B7B;
          letter-spacing: 0;
          text-transform: uppercase;
          max-width:      165px;
          span {
            display:        block;
            text-transform: none;
            font-size:      11px;
            color:          #9B9B9B;
            letter-spacing: 0;
          }
        }
      }
    }
    .image-section {
      @media (min-width: 600px) {
        visibility: hidden !important;
        display:    none !important;
      }
    }
    .content-section {
      padding-top:    60px;
      padding-bottom: 60px;
      h3 {
        margin-bottom: 60px;
        &.small-padding {
          margin-top:    70px;
          margin-bottom: 40px;
        }
      }
      &.pink-img-overlay {
        opacity:    0.94;
        background: #FF445D;
      }
      &.white-img-overlay {
        background-image:      url('../images/pages/bundle/focus-and-blur.png');
        background-repeat:     no-repeat;
        background-size:       contain;
        background-position-y: 45px;
        background-position-x: 15%;
        padding-top:           60px;
        padding-bottom:        60px;
      }
      &.grey-img-overlay {
      }
      &.testimonials {
      }
      &.reviews {
        h3 {
          margin-bottom: 25px;
        }
        .col-md-6 {
          margin-top:    15px;
          margin-bottom: 15px;
          &:nth-of-type(2) {
            color: red !important;
          }
        }
        .subhead-row {
          img {
            max-width:    100px;
            margin-right: 15px;
            margin-top:   -5px;
          }
          img, p {
            display: inline-block;
          }
          p {
            font-size:      14px;
            font-style:     italic;
            color:          #9B9B9B;
            letter-spacing: 1px;
          }
        }
        p {
          font-size:      15px;
          font-weight:    300;
          color:          #4A4A4A;
          letter-spacing: 1.07px;
        }
      }
      ul.icon-list {
        width:         98%;
        margin-top:    45px;
        margin-bottom: 10px;
        li {
          display:       inline-block;
          text-align:    left;
          width:         40%;
          margin-bottom: 30px;
        }
        img {
          max-height:   45px;
          display:      block;
          float:        left;
          margin-right: 20px;
        }
        p {
          font-weight:    500;
          font-family:    Lato-Bold, sans-serif;
          font-size:      13px;
          color:          #7B7B7B;
          letter-spacing: 0;
        }
        p.sub {
          font-family:    Lato-Bold, sans-serif;
          font-size:      11px;
          color:          #9B9B9B;
          letter-spacing: 0;
        }
      }
      .icon-list + a {
        margin-top: 0;
      }
      &.second-content-section {
        @media (max-width: 1450px) {
          background-size: 700px !important;
        }
        @media (max-width: 1200px) {
          background-size: 600px !important;
        }
        @media (max-width: 1000px) {
          background-size:     400px !important;
          background-position: bottom right !important;
        }
        @media (max-width: 900px) {
          background-position: bottom right !important;
        }
        @media (max-width: 768px) {
          background-position: center bottom !important;
          background-size:     contain !important;
        }
      }
      ul.headed-list {
        margin-bottom: 60px;
        max-width:     445px;
        @media (max-width: 768px) {
          margin-bottom: 325px;
          max-width:     100% !important;
        }
        li {
          margin-bottom: 50px;
        }
        img {
          float:         left;
          margin-bottom: 30px;
          margin-right:  2px;
          max-height:    34px;
        }
        h4 {
          text-align: left !important;
        }
        p {
          font-size:      15px;
          font-weight:    300;
          color:          #4A4A4A;
          letter-spacing: 0.53px;
          line-height:    19px;
          margin-left:    50px;
        }
      }
      h2.statement {
        max-width:      620px;
        margin:         0 auto;
        font-weight:    300;
        font-size:      34px;
        color:          #FFFFFF;
        letter-spacing: 1.13px;
        text-shadow:    0 2px 4px rgba(0, 0, 0, 0.50);
        margin-bottom:  40px;
        margin-top:     20px;
        span {
          font-weight: 500;
        }
      }
      .col {
        &.third {
          margin-top: 15px;
          h5 {
            text-transform: uppercase;
            margin-bottom:  15px;
            margin-top:     35px;
          }
          p {
            max-width: 250px;
            margin:    0 auto;
          }
        }
      }
      .bordered-content {
        background:    #FFFFFF;
        border-radius: 10px;
        border:        1px solid #d9d9d9;
        max-width:     500px;
        max-height:    500px;
        padding:       25px 50px;
        float:         right;
        box-shadow:    0 1px 3px 0 rgba(0, 0, 0, 0.50);
        hr {
          border-top: 1px solid #D1D1D1;
        }
        h3 {
          font-family:    Lato-Black, sans-serif;
          font-size:      24px;
          color:          #4A4A4A;
          letter-spacing: 1.2px;
          margin-bottom:  15px;
          margin-top:     0;
          text-align:     center;
        }
        ul {
          padding-left: 0;
          li {
            img {
              float:        left;
              margin-right: 10px;
              margin-top:   10px;
            }
            p {
              line-height:    50px;
              font-size:      16px;
              color:          #080808;
              letter-spacing: 0;
              font-weight:    400;
            }
          }
        }
        .button {
          margin-top: 20px;
        }
        img.arrow {
          float:    left;
          position: absolute;
          left:     15px !important;
          bottom:   40px;
        }
      }
    }
    .bundle-section {
      background-image:  linear-gradient(RGBA(255, 255, 255, 0.9), RGBA(255, 255, 255, 0.9)), url('../images/pages/bundle/bundle-section-bg.png') !important;
      background-repeat: no-repeat;
      background-size:   cover;
      h3 {
        margin-bottom: 70px;
        margin-top:    0;
      }
      img {
        max-width: 995px;
        max-width: 100%;
      }
      a {
      }
      .row {
        margin-top: 15px;
        .arrow {
          margin-bottom: 50px !important;
        }
        .arrow-left {
          margin-left: 20px;
        }
        .arrow-right {
          margin-right: 20px;
        }
      }
    }
    .bottom-image {
      max-width: 100% !important;
      margin:    0 auto -18px -15px;
    }
    .mobile-cta-section {
      font-family:      Lato-Bold, sans-serif;
      font-size:        33px;
      color:            #FFFFFF !important;
      letter-spacing:   0;
      padding:          20px;
      background-image: linear-gradient(90deg, #F85E3E 0%, #FF445D 98%);
      text-align:       center;
      .inner-content {
        border:        2px solid white;
        border-radius: 5px;
        padding:       15px;
      }
    }
  }
  //This is the styling for the old version of the homepage.
  &.old-homepage {
    h1,
    h3 {
      font-family:    Lato, sans-serif;
      font-size:      30px;
      letter-spacing: -0.69px;
    }
    h1 {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
    }
    h2 {
      font-family:    Lato, sans-serif;
      color:          #FFFFFF;
      letter-spacing: 0;
      text-shadow:    0 2px 4px rgba(0, 0, 0, 0.50);
    }
    h3 { }
    h4 { }
    .page-header {
      opacity:          0.93;
      background-image: linear-gradient(-180deg, #F85E3E 0%, #FF445D 100%);
      padding:          95px 0;
      margin:           0;
      h1 {
        color: white;
      }
      p {
        font-family:    Lato, sans-serif;
        font-size:      16px;
        font-weight:    200;
        color:          #FFFFFF;
        letter-spacing: -0.42px;
        margin-bottom:  50px;
      }
    }
    .grey-promo-row {
      height:       60px;
      line-height:  60px;
      text-align:   center;
      margin-left:  0;
      margin-right: 0;
      p {
        font-family:    Lato, sans-serif;
        font-size:      14px;
        color:          #9B9B9B;
        letter-spacing: -0.33px;
        text-transform: uppercase;
        img {
          &.icon {
            &.small-grey {
              max-height:   20px;
              margin-right: 8px;
            }
          }
        }
      }
    }
    .thirds-row {
      text-align: center;
      margin:     35px 0;
      h3 {
        text-transform: uppercase;
        font-size:      20px;
        color:          #FF445D;
        letter-spacing: -0.46px;
        margin-bottom:  30px;
      }
      .col {
        border-radius:  5px;
        max-width:      320px;
        display:        inline-block !important;
        padding-bottom: 25px;
        &:nth-of-type(2) {
          margin-left:  20px;
          margin-right: 20px;
        }
        img {
          max-width: 100%
        }
        .text-content {
          border:         1px solid #FF445D;
          border-top:     none;
          padding-top:    15px;
          padding-bottom: 30px;
        }
        h4 {
          font-weight:    500;
          font-size:      16px;
          color:          #4A4A4A;
          letter-spacing: -0.37px;
          margin-top:     0;
        }
        p {
          font-weight:    400;
          font-size:      14px;
          color:          #9B9B9B;
          letter-spacing: 0.33px;
          max-width:      230px;
          margin:         0 auto 30px;
        }
      }
    }
    .learn-more-btn { }
    .testimonials {
      h3 {
        color: #FF445D;
      }
    }
    .apparel-section {
      h3 {
        font-family: Lato, sans-serif;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
        color:       white;
      }
    }
    .blue {
      font-family: Lato, sans-serif;
      color:       #4A4A4A;
    }
  }
}

// End Peachy Wrap Styling

// Coming Soon Page Styling
.coming-soon {
  background:      linear-gradient(rgba(248, 94, 62, 0.85), rgba(255, 68, 93, 0.80)), url('../images/backgrounds/woman-running.png') center top no-repeat;
  background-size: cover;
  text-align:      center;
  color:           white;
  font-family:     Lato, sans-serif;
  margin:          -15px;
  padding-bottom:  15%;
  div {
    vertical-align: middle;
    margin:         -15px !important;
  }
  h1, p {
    padding-left:  30px;
    padding-right: 30px;
  }
  h1 {
    padding-top:    15%;
    text-transform: uppercase;
    font-size:      22px;
    color:          #FFFFFF;
    font-weight:    500;
    letter-spacing: -0.51px;
  }
  p {
    font-weight:    300;
    font-size:      18px;
    color:          #FFFFFF;
    letter-spacing: -0.42px;
    max-width:      675px;
    margin:         40px auto 0;
  }
  input {
    height:        50px;
    width:         350px;
    text-align:    center;
    border:        none;
    color:         white;
    font-size:     14px;
    margin-top:    70px;
    background:    #F52F49;
    border-radius: 4px;
    &:active, &:focus, &:hover {
      outline: none;
    }
  }
  .button {
    display:          block;
    color:            #EE2339;
    background-color: white;
    padding:          10px 10px;
    width:            140px;
    margin:           30px auto 70px auto;
    border-radius:    50px;
    text-transform:   none;
  }
  ::-webkit-input-placeholder {
    color:   white;
    opacity: 0.8;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color:   white;
    opacity: 0.8;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color:   white;
    opacity: 0.8;
  }
  :-ms-input-placeholder {
    color:   white;
    opacity: 0.8;
  }
}

// End Coming Soon Page Styling

// FAQs Page Styling
.faqs-page {
  font-family: Lato, sans-serif;
  .row {
    margin-top: 85px;
  }
  h1 {
    font-size:      24px;
    color:          #4A4A4A;
    letter-spacing: 0;
    margin-top:     0;
    margin-bottom:  60px;
  }

  h3 {
    font-size:      16px;
    color:          #4A4A4A;
    letter-spacing: 0;
  }

  p {
    font-size:      14px;
    color:          #818181;
    letter-spacing: 0;
    font-weight:    300;
    margin-bottom:  50px;
    a {
      color:           #FF445D;
      font-weight:     400;
      text-decoration: underline;
    }
  }
  ul {
    margin-top: 75px;
    li {
      list-style-type: none;
      border-bottom:   1px solid #E1DCE2;
      &:last-child {
        border-bottom: none;
      }
      a {
        font-size:      16px;
        color:          #4A4A4A;
        letter-spacing: 0;
        line-height:    50px;
        &:hover, &:active, &:focus {
          color:       #FF445D;
          font-weight: 500;
          cursor:      pointer;
        }
      }
    }
  }
}

// End FAQs Page Styling

// Coming Soon Modal
.coming-soon-modal {
  font-family:      Lato, sans-serif;
  position:         absolute;
  padding:          18px;
  display:          none;
  text-align:       center;
  background-color: white;
  border:           1px solid transparent;
  border-radius:    5px;
  box-shadow:       1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  box-sizing:       border-box;
  transition:       all .4s ease-in-out;
  max-width:        500px;
  margin:           0 auto;
  top:              35%;
  left:             0;
  right:            0;
  h3 {
    font-size: 25px;
  }
  p {
    padding-left:  20px;
    padding-right: 20px;
  }
  a {
    font-size:      18px;
    color:          #FF445D;
    letter-spacing: 0;
  }
  &.active {
    visibility: visible;
    display:    block;
  }
}

// End Coming Soon Modal

// Auth modal
.fliper-btn {
  font-size: 12px;
}

.flip {
  -webkit-perspective: 800;
  perspective:         800;
  position:            relative;
}

.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
  transform:         rotatey(-180deg);
}

.flip .card {
  height:                  100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition:      0.5s;
  transform-style:         preserve-3d;
  transition:              0.5s;
}

.flip .card .face {
  -webkit-backface-visibility: hidden;
  backface-visibility:         hidden;
  z-index:                     2;
}

.flip .card .front {
  position: absolute;
  width:    100%;
  z-index:  1;
}

.flip .card .back {
  -webkit-transform: rotatey(-180deg);
  transform:         rotatey(-180deg);
}

.inner { margin: 0px !important; }

form .spinner, form .li {
  height: 25px;
  width:  25px;
}

// End auth modal

//Sign Up Modal Styling
#authModal {
  .panel {
    padding:   50px 60px;
    max-width: 500px;
    input[type=text], input[type=password], input[type=email] {
      /* Name: */
      font-family:    Avenir-Roman, sans-serif;
      font-size:      16px;
      color:          #9B9B9B;
      letter-spacing: 0;
      background:     #FFFFFF;
      padding:        20px 16px;
      border-radius:  6px;
      &:active, &:hover, &:focus {
        border: 1px solid #FF445D;
        outline:none;
        box-shadow: inset 0 1px 1px rgba(255,68,93,.075), 0 0 8px rgba(255,68,93,.6);
      }
    }
    .checkbox {
      font-family:    Avenir-Book, sans-serif;
      font-size:      12px;
      color:          #9B9B9B;
      margin-top: 15px;
      letter-spacing: 0;
    }
    button {
      text-align:     center;
      background:     #FF445D;
      box-shadow:     0 2px 3px 0 #B8283B;
      border-radius:  100px;
      font-family:    Avenir-Medium, sans-serif;
      font-size:      18px;
      color:          #FFFFFF;
      letter-spacing: 0;
      width:          100%;
      height:         60px;
      margin-top:     25px;
    }
  }
  .modal-heading, h5 {
    font-family:    Avenir-Medium, sans-serif;
    font-size:      20px;
    color:          #FF445D;
    letter-spacing: 0;
    margin-bottom:  30px;
    span {
      font-family: Avenir-Black, sans-serif;
    }
  }
}
