<!-- Modal -->
<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <!--<div class="modal-content">-->
        <div class="flip">
            <div class="card">
                <div class="face front">
                    <div class="panel panel-default">
                        <form name="signup" ng-submit="signUp()">
                            <h5 class="FF445D text-center modal-heading"><span>TRANSFORM</span> YOUR <span>BODY & LIFESTYLE</span> IN JUST <span>6 WEEKS!</span></h5>
                                <div class="form-group">
                                <input type="text" class="form-control" ng-model="name" placeholder="Name" required="required">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" ng-model="email" placeholder="Email address" required="required">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" ng-model="pwd" placeholder="Password" required="required">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="" required="">
                                    <span class="ccc">Please tick this to agree with our terms and conditions</span>
                                </label>
                            </div>
                            <div class="help-block register"><img class="spinner hidden" src="img/ring-alt.gif"><img class="ok hidden" src="img/li.png"><span></span></div>
                            <button type="submit" class="btn dismiss-modal promo-button button-submit">CREATE ACCOUNT</button>
                            <p class="text-center">
                                <!--<a href="#" class="fliper-btn">Already have an account?</a>-->
                            </p>
                        </form>
                    </div>
                </div>
                <div class="face back">
                    <div class="panel panel-default">
                        <form name="signin" ng-submit="signIn()">
                            <h5 class="FF445D text-center modal-heading"><b>LOGIN</b> IN YOUR ACCOUNT</h5>
                            <div class="form-group">
                                <input type="email" class="form-control" ng-model="email" placeholder="Email address" required="required">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" ng-model="pwd" placeholder="Password" required="required">
                            </div>
                            <div class="help-block login"><img class="spinner hidden" src="img/ring-alt.gif"><img class="ok hidden" src="img/li.png"><span></span></div>
                            <button type="submit" class="btn dismiss-modal promo-button button-submit">SIGN IN</button>
                            <p class="text-center">
                                <a href="#" class="fliper-btn">Create new account?</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
console.log('call')
  $('.fliper-btn').click(function () {
      $('.flip').find('.card').toggleClass('flipped');

  });
  $('.dismiss-modal').closest('form').on('submit', function() {
      $('#authModal').modal('hide');
  });
</script>
