<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-3">
        <ul>
          <li>
            <a href="/">
              Home
            </a>
          </li>
          <li>
            <a href="/about">
              About Us
            </a>
          </li>
          <li>
            <a href="/peachyfit-ambassadors">
              Brand Ambassadors
            </a>
          </li>
          <li>
            <a href="/coming-soon">
              Contact
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <ul>
          <li>
            <a href="https://store.peachyfit.com">
              The Store
            </a>
          </li>
          <li>
            <a href="/coming-soon">
              BundleBox Deal
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-md-offset-2 footer-logo" style="vertical-align:bottom;">
        <div class="row" style="float:right;">
          <img src="../../images/icons/facebook-icon.png" alt="" style="max-width:28px;">
          <img src="../../images/icons/instagram-icon.png" alt="" style="max-width:28px;">
        </div>
        <br><br>
        <div class="row" style="margin-right: -30px!important; float:right; text-align:right;">
          <img src="../../images/peachy-logos/crisp-white.png" alt="" style="float:right;     max-width:241px;">
        </div>
        <br>
        <p class="rights-reserved" style="float:right; color:white; text-align:right;">
          PeachyFit.com | All rights reserved 2017 ®
        </p>
      </div>
    </div>
  </div>
</footer>
