<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="apple-touch-icon" sizes="57x57" href="../../images/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../../images/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../../images/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../../images/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../../images/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../../images/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../../images/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../../images/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="../../images/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="../../images/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="../../images/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../images/favicons/favicon-16x16.png">
<script src="https://use.fontawesome.com/e21c35fec6.js"></script>
<link rel="manifest" href="../../images/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="../../images/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<head>
  <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
  <script src="https://use.fontawesome.com/e21c35fec6.js"></script>
</head>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>PeachyFit</title>
  <meta name="description" content="PeachyFit">

  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
  <script>
    (function (i, s, o, g, r, a, m)
    {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function ()
          {
            (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
      a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-90554536-1', 'auto');
    ga('send', 'pageview');
  </script>

</head>
<header>
  <nav class="navbar temp-navbar">
    <div class="container nav-container no-padding">
      <a href="/" class="logo-link">
        <object role="button" href="/" style="max-width:50%;" type="image/svg+xml" data="/images/logo/peachyfit-official-logo.svg"></object>
      </a>
      <ul class="nav-list pull-right">
        <li class="nav-item hidden-sm hidden-xs hidden-ms">
          <a href="/bundle" class="hidden-sm-down">
            Bundle
          </a>
        </li>
        <li class="nav-item hidden-sm hidden-xs hidden-ms">
          <a href="https://store.peachyfit.com">
            Store
          </a>
        </li>
        <li class="nav-item hidden-sm hidden-xs hidden-ms">
          <a href="/faqs">
            FAQs
          </a>
        </li>
        <li class="nav-item">
          <a ng-hide="firebaseUser" class="button btn-round" href="" data-toggle="modal" data-target="#authModal">Get Started</a>
          <a ng-show="firebaseUser" href="" ng-click="signOut()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
