<body>
<div class="peachy-wrap sub about-page">
  <div class="row header-row center" style="">
    <h1>
      You're in good company
    </h1>
  </div>
  <div class="row content-section center">
    <div class="container">
      <h2>
        About PeachyFit
      </h2>
      <p>
        PeachyFit was founded on the basis of creating a fitness brand for women who want to become their best self through
        <strong>hard work, commitment and dedication.</strong>
        Achieving your fitness goals and getting shape is tough, we need a lot of motivation and support along the way - we’re building a network
        which believes in just that. A brand who supports
        <strong>strong, independent women</strong> on a mission to become great! Join the movement and help us spread positivity among our female
        fitness community. Find us on Instagram
        <strong>@GetPeachyFit</strong> and use hashtags
        <strong>#PeachyFit #PeachyFitMovement</strong> to show us your own transformations!
      </p>
    </div>
  </div>
  <div class="row content-section grey-bg">
    <div class="container">
      <div class="col col-md-7">
        <h3>
          Our focus is your focus!
        </h3>
        <p>
          We’re constantly focused on creating new fitness programs, nutrition plans and motivational resources to keep you committed to your
          fitness and lifestyle goals.
        </p>
        <p class="no-padding-bottom no-margin-bottom">
          Fitness is our company. Focus is our strength. We’re PeachyFit.
        </p>
      </div>
    </div>
  </div>
  <div class="row content-section no-padding-bottom">
    <div class="container">
      <div class="col col-md-7">
        <h3>
          Want to become a Brand Ambassador?
        </h3>
        <p>
          We love partnering with women who are on their own fitness journey who are activly sharing their progress and results on social media.
        </p>
        <p>
          Partner with us and get awesome <strong>FREE PeachyFit merchandise!</strong>
        </p>
        <a href="">
          Learn more here
        </a>
        <br><br>

        <p>
          Send us an email <a href="" class="">jointhefamily@peachyfit.com</a>
        </p>
      </div>
      <img src="../images/pages/about-us/about-us-lg.png" alt="" class="minus-margin hidden-md-down hidden-xs hidden-sm">
    </div>
  </div>
  <div class="row cta-section center">
    <div class="container">
      <h3 class="white-heading">
        Take The PeachyFit Challenge Now!
      </h3>
      <a href="" class="button blue-btn">
        Get Started Today!
      </a>
    </div>
  </div>
</div>
</body>
