<body>
<div class="peachy-wrap sub ambassadors-page">
  <div class="row header-row center" style="">
    <h1>
      BECOME A BRAND AMBASSADOR
    </h1>
  </div>
  <div class="row content-section">
    <div class="container center">
      <h2>
        Get FREE Merchandise & Amazing Perks!
      </h2>
      <div class="row ambassador-bundle">
        <div class="col col-md-7 ">
          <img src="../images/pages/ambassador/ambassador-bundle.png" alt="" class="hidden-md-down hidden-xs hidden-sm">
        </div>
        <div class="col col-md-5 content-half">
          <p>
            When you become a PeachyFit Brand Ambassador we’ll give you free merchandise to use, wear and promote. This may include:
          </p>
          <ul>
            <li>
              Mobile App Access
            </li>
            <li>
              eBook Guides
            </li>
            <li>
              PRO Dual Shaker Bottle
            </li>
            <li>
              PeachyFit Athletic Apparel & Gymwear
            </li>
          </ul>
          <p>
            Interested in becoming an ambassador?
          </p>
          <p>Email Us: <a href="" class="">jointhefamily@peachyfit.com</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row content-section grey-bg">
    <div class="container">
      <div class="col col-md-7 content-half">
        <h3>
          Earn Money For Referrals
        </h3>
        <p>
          We’ll give you a unique discount coupon code that you can share with your community or audience. For every customer that comes to the
          PeachyFit.com website and purchases using your coupon code - you’ll earn $20!
        </p><br>
        <p class=""><strong>
          Uncapped, so the earning potential is unlimited!
        </strong></p>
      </div>
      <div class="col col-md-5 center">
        <img src="../images/pages/ambassador/floating-money.png" alt="money" id="money" class="hidden-md-down hidden-xs hidden-sm">
      </div>
    </div>
  </div>
  <div class="row content-section center">
    <div class="container">
      <h3>
        Where Can I Promote PeachyFit?
      </h3>
      <p>
        Social media is the best place to promote PeachyFit. Share progress photos and selfies of you with PeachyFit apparel and items. We love
        <strong>Instagram, Snapchat, Facebook, Twitter and YouTube!</strong>
      </p>
      <p>
        Always use the hashtags: <strong>#PeachyFit #PeachyFitMovement #PeachyProgress</strong>
      </p>
      <p>
        We’ll re-share your photos and videos with our audience too!
      </p>
      <p>
        Become a PeachyFit Ambassador, email us: <a href="" class="">jointhefamily@peachyfit.com</a>
      </p>
    </div>
  </div>
  <div class="row cta-section center">
    <div class="container">
      <h3 class="white-heading">
        Take The PeachyFit Challenge Now!
      </h3>
      <a href="" class="button blue-btn">
        Get Started Today!
      </a>
    </div>
  </div>
</div>
</body>
