<script src="http://thecodeplayer.com/uploads/js/prefixfree.js" type="text/javascript"></script>
<body>
<div class="peachy-wrap bundle-page">
  <div class="row header-row center" style="">
    <h1>
      Transform Your Body
    </h1>
    <h2>
      Take The 6 Week Challenge Today
    </h2>
    <hr class="hidden-xs hidden-sm">
    <div class="row hidden-xs hidden-sm">
      <div class="col col-md-4">
        <img src="../images/icons/ticks/white-tick.png" alt="">
        <p>
          Start a New Lifestyle
        </p>
      </div>
      <div class="col col-md-4">
        <img src="../images/icons/ticks/white-tick.png" alt="">
        <p>
          Transform Your Body
        </p>
      </div>
      <div class="col col-md-4">
        <img src="../images/icons/ticks/white-tick.png" alt="">
        <p>
          Become Your Best Self
        </p>
      </div>
    </div>
    <a ng-hide="firebaseUser" class="button white-btn btn-white" href="" data-toggle="modal" data-target="#authModal">Claim my bundle Box</a>
    <a ng-show="firebaseUser" href="/secure" class="button white-btn btn-white">
      Claim my bundle Box
    </a>
  </div>
  <div class="row promo-bar  border-bottom">
    <div class="container npl npr">
      <div class="col col-sm-12 col-md-3 dark-bg">
        <p class="center">
          Bundle Includes <span>Over $50.00</span> <span class="mid">In Free Extras</span>
        </p>
      </div>
      <!--<div class="clearfix hidden-ms hidden-md hidden-lg hidden-xl" ></div>-->
      <div class="col col-sm-4 col-md-2 col-md-offset-1 icon hidden-xs hidden-sm">
        <div class="wrap">
          <img src="../images/icons/small-icons/shaker-bottle.png" alt="">
          <p>
            Dual Protein Shaker Bottle
            <span>Worth $10.00</span>
          </p>
        </div>
      </div>
      <div class="col col-sm-4 col-md-2 col-md-offset-1 icon hidden-xs hidden-sm">
        <div class="wrap">
          <img src="./images/icons/small-icons/duffle-bag.png" alt="">
          <p>
            Pro Duffle Gym Bag
            <span>Worth $25.00</span>
          </p>
        </div>
      </div>
      <div class="col col-sm-4 col-md-2 col-md-offset-1 icon hidden-xs hidden-sm">
        <div class="wrap">
          <img src="../images/icons/small-icons/resistance-bands.png" alt="">
          <p>
            Resistance Bands
            <span>Worth $15.00</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="bundle-slider-section row content-section hidden-sm hidden-md hidden-ms hidden-lg hidden-xl no-padding">
    <div class="container center npr  npl border-bottom">
      <h4 class="black-heading black-header">
        THE 6 WEEK SHAPE UP BUNDLE DEAL!
      </h4>

      <!-- NEED TO INSERT AN IMAGE SLIDER HERE -->

      <div class="row">
        <h5 class="todays-discount">
          <span>$149</span> Today Only $99
        </h5>
      </div>
      <div class="row bundle-list-row">
        <h6>
          Your Bundle Includes:
        </h6>
        <ul class="bundle-list">
          <li>
            <p>
              <img src="../images/icons/ticks/thin-red-tick.png" alt="">
              6 Week Shape Up Plan (App)
            </p>
            <p>
              <img src="../images/icons/ticks/thin-red-tick.png" alt="">
              Dual PRO Shaker Bottle
            </p>
            <p>
              <img src="../images/icons/ticks/thin-red-tick.png" alt="">
              HUSTLE Tank Top
            </p>
            <p>
              <img src="../images/icons/ticks/thin-red-tick.png" alt="">
              PRO PeachyFit Duffle Bag
            </p>
            <p>
              <img src="../images/icons/ticks/thin-red-tick.png" alt="">
              Resistance Band
            </p>
            <p>
              <img src="../images/icons/ticks/thin-red-tick.png" alt="">
              Gym Towel
            </p>
            <p>
              <img src="../images/icons/ticks/thin-red-tick.png" alt="">
              Nutrition & Motivation Guides
            </p>
          </li>
        </ul>
      </div>
      <a href="/secure" class="button pink-btn">
        ADD BUNDLE TO CART
      </a>
    </div>
  </div>
  <div class="row content-section white-bg no-padding-bottom second-content-section"
       style="background-image:url('../images/pages/bundle/bundle-group.png');background-size: contain; background-repeat: no-repeat; background-position: bottom right;">
    <div class="container ">
      <h3 class="mid-header center">
        The Complete Bundle To Give You The Body YOU WANT!
      </h3>
      <div class="col-md-12">
        <ul class="headed-list">
          <li>
            <img src="../images/icons/ticks/circled-green-tick.png" alt="">
            <h4>
              TAKE THE SHAPE-UP CHALLENGE
            </h4>
            <p>
              Get started with the 6 Week PeachyFit Shape Up Challenge! Whether you’re a beginner or fitness freak, we’ve got a program to
              suite
              you!
            </p>
          </li>
          <li>
            <img src="../images/icons/ticks/circled-green-tick.png" alt="">
            <h4>
              EASY TO FOLLOW MEAL PLAN
            </h4>
            <p>
              Easy to follow nutrition plan, with daily meal examples and a meal planning templates. Nutrition to support the PeachyFit
              training
              guide! Train dirty, eat clean!
            </p>
          </li>
          <li>
            <img src="../images/icons/ticks/circled-green-tick.png" alt="">
            <h4>
              TRANSFORM & GRADUATE IN 6 WEEKS!
            </h4>
            <p>
              Watch your body transform over 6 weeks, burn stubborn unwanted body fat and enjoy the benefits of living a fit and healthy
              lifestyle!
            </p>
          </li>
        </ul>
      </div>
      <!--<div class="col col-md-4 hidden-sm hidden-ms" style="max-width:628px; max-height: 470px; height:100%; width:500px;background-image:url('../images/pages/bundle/bundle-group.png'); background-repeat: no-repeat">-->
      <!--&lt;!&ndash;<img src='../images/pages/bundle/bundle-group.png' class=""&ndash;&gt;-->
      <!--&lt;!&ndash;alt="">&ndash;&gt;-->
      <!--</div>-->
    </div>
  </div>
  <div class="row hide-bg content-section grey-bg no-overflow-y"
       style="background-image:url('../images/pages/bundle/hand-phone.png'); background-repeat:no-repeat;background-size:contain;background-position-x:30%;background-position-y:40px;">
    <div class="container ">
      <div class="col-md-offset-6">
        <h3 class="pink-heading small-padding">
          Take Your Progress On The Go!
        </h3>
        <p class="light">
          The <span class="bold"> PeachyFit mobile app</span> tracks your challenge progress. Provides your daily workouts on the go!
        </p>
        <ul class="highlight-list">
          <li>
            Track workouts
          </li>
          <li>
            Earn points & Trophies
          </li>
          <li>
            Take progress photos
          </li>
          <li>
            freestyle hiit workouts
          </li>
        </ul>
        <div class="row button-row center">
          <a ng-hide="firebaseUser" class="button btn pink-btn" href="" data-toggle="modal" data-target="#authModal">Start my challenge now</a>
          <a ng-show="firebaseUser" href="/secure" class="button btn pink-btn">
            Start my challenge now
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row image-section hidden-sm hidden-ms hidden-md hidden-lg hidden-xl"
       style="background:url('../images/pages/bundle/programs-display-bg.png'); height: 356px; background-position: center center; background-size: cover; background-repeat: no-repeat;">
  </div>
  <div class="row content-section pink-img-overlay center statement-section hidden-xs">
    <div class="container ">
      <h2 class="statement">
        THE 6 WEEK <span class="bold">PeachyFit CHALLENGE</span> GIVES YOU <span class="bold">EVERYTHING</span> YOU NEED TO <span class="bold">BECOME YOUR BEST SELF</span>
      </h2>
      <img src="../images/peachy-logos/white-small-logo.png" alt="">
    </div>
  </div>
  <div class="row content-section white-bg center border-bottom">
    <div class="container ">
      <h3 class="black-heading" style="max-width: 90%; margin:0 auto;">
        Why Choose The <span>PeachyFit</span> Challenge?
      </h3>
      <div class="col third col-xs-12 col-sm-6 col-md-4">
        <img src="../images/icons/graphics/diet.png" alt="">
        <h5>
          Sustainable TASTY Diet
        </h5>
        <p class="light">
          Exercise is not the only factor to gaining the body you want. It takes healthy eating habits in order to fuel your body in the best
          way
          possible. We provide you with a meal plan to go along with your 6 Week Challenge!
        </p>
      </div>
      <div class="col third col-xs-12 col-sm-6 col-md-4">
        <img src="../images/icons/graphics/heart.png" alt="">
        <h5>
          Love YOUR Body!
        </h5>
        <p class="light">
          The PeachyFit Shape Up Challenge teaches you to love and respect your body through sustainable healthy habits and progressive
          workouts to increase your overall wellbeing. PeachyFit is for life, not just a one time yo-yo diet!
        </p>
      </div>
      <div class="col third col-xs-12 col-sm-offset-3 col-sm-6 col-md-4 col-md-offset-0 col-lg-offset-0 col-xl-offset-0">
        <img src="../images/icons/graphics/body.png" alt="">
        <h5>
          The Best Version Of YOU
        </h5>
        <p class="light">
          As you progress through the 6 week Shape Up Challenge you’ll see your body transform. You’ll feel more energised & be more proactive.
          Exercise is key to a better lifestyle, with reduced stress, anxiety and increased vitality. Live PeachyFit!
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="row content-section grey-img-overlay bundle-section center hidden-xs hidden-sm hidden-ms">
    <div class="container ">
      <h3 class="black-heading">
        What Your <span>PeachyFit BUNDLE BOX</span> Includes?
      </h3>
      <img src="../images/pages/bundle/bundle-box.png" alt="" class="">
      <div class="row">
        <img src="../images/arrows/pink-arrow.png" alt="" class="arrow arrow-right hidden-xs hidden-sm hidden-ms">
        <a ng-hide="firebaseUser" class="button pink-btn" href="" data-toggle="modal" data-target="#authModal">CLAIM MY BUNDLE BOX</a>
        <a ng-show="firebaseUser" href="/secure" class="button pink-btn">
          CLAIM MY BUNDLE BOX
        </a>
        <img src="../images/arrows/pink-arrow.png" alt="" class="arrow arrow-left hidden-xs hidden-sm hidden-ms">
      </div>
    </div>
  </div>
  <div class="row content-section reviews grey-bg hidden-xs hidden-sm hidden-ms" style="display:none; visibility:hidden">
    <!--Temp hiding this bit-->
    <div class="container ">
      <h3 class="black-heading center">
        CUSTOMER REVIEWS<br>
        <img src="../images/pages/bundle/4-stars.png" alt="">

      </h3>
      <hr class="bold-hr">
      <div class="col-md-6">
        <div class="subhead-row">
          <img src="../images/pages/bundle/4-stars.png">
          <p>
            Name Name, Location
          </p>
        </div>
        <p>
          The PeachyFit mobile app tracks your challenge progress. Provides your daily workouts on the go. Want to catch a quick workout with
          some spare time? Use the Freestyle feature!
        </p>
      </div>
      <div class="col-md-6">
        <div class="subhead-row">
          <img src="../images/pages/bundle/4-stars.png">
          <p>
            Name Name, Location
          </p>
        </div>
        <p>
          The PeachyFit mobile app tracks your challenge progress. Provides your daily workouts on the go. Want to catch a quick workout with
          some spare time? Use the Freestyle feature!
        </p>
      </div>
      <div class="col-md-6">
        <div class="subhead-row">
          <img src="../images/pages/bundle/4-stars.png" alt="">
          <p>
            Name Name, Location
          </p>
        </div>
        <p>
          The PeachyFit mobile app tracks your challenge progress. Provides your daily workouts on the go. Want to catch a quick workout with
          some spare time? Use the Freestyle feature!
        </p>
      </div>
      <div class="col-md-6">
        <div class="subhead-row">
          <img src="../images/pages/bundle/4-stars.png" alt="">
          <p>
            Name Name, Location
          </p>
        </div>
        <p>
          The PeachyFit mobile app tracks your challenge progress. Provides your daily workouts on the go. Want to catch a quick workout with
          some spare time? Use the Freestyle feature!
        </p>
      </div>
    </div>
  </div>
  <div class="row content-section center no-padding-bottom split-list" style=" margin: 0 auto;">
    <div class="container  no-padding-bottom">
      <h3 class="black-heading">
        The <span class="bold">PeachyFit Bundle Box</span> Provides Everything You Need To Become Your <span class="bold">BEST SELF!</span>
      </h3>
      <div class="row center">
        <div class="col col-sm-3 col-xs-6">
          <img src="../images/pages/bundle/body-icon.png" alt="">
          <p class="bold">
            6 WEEK SHAPE UP PROGRAM
          </p>
          <p>
            Worth $49.00
          </p>
        </div>
        <div class="col col-sm-3 col-xs-6">
          <img src="../images/pages/bundle/bag-icon.png" alt="">
          <p class="bold">
            PRO DUFFLE GYM BAG
          </p>
          <p>
            Worth $25.00
          </p>
        </div>
        <div class="col col-sm-3 col-xs-6">
          <img src="../images/pages/bundle/towel-icon.png" alt="">
          <p class="bold">
            PRO GYM TOWEL
          </p>
          <p>
            Worth $15.00
          </p>
        </div>
        <div class="col col-sm-3 col-xs-6">
          <img src="../images/pages/bundle/tank-top-icon.png" alt="">
          <p class="bold">
            HUSTLE TANK TOP
          </p>
          <p>
            Worth $49.00
          </p>
        </div>
        <div class="col col-sm-3 col-xs-6">
          <img src="../images/pages/bundle/shaker-icon.png" alt="">
          <p class="bold">
            DUAL SHAKER BOTTLE
          </p>
          <p>
            Worth $10.00
          </p>
        </div>
        <div class="col col-sm-3 col-xs-6">
          <img src="../images/pages/bundle/res-bands-icon.png" alt="">
          <p class="bold">
            RESISTANCE BANDS
          </p>
          <p>
            Worth $15.00
          </p>
        </div>
        <div class="col col-sm-3 col-xs-6">
          <img src="../images/pages/bundle/book-icon.png" alt="">
          <p class="bold">
            OFFICIAL EBOOK GUIDES
          </p>
          <p>
            Worth $10.00
          </p>
        </div>
        <div class="col col-sm-3 col-xs-6">
          <img src="../images/pages/bundle/phone-icon.png" alt="">
          <p class="bold">
            PREMIUM APP ACCESS
          </p>
          <p>
            Worth $15.00
          </p>
        </div>
      </div>
      <div class="row hidden-xs " style="height: 40px;"></div>
    </div>
  </div>
  <div class="row content-section white-img-overlay hidden-sm hidden-ms hidden-xs" style="border-top:1px solid #D9D9D9">
    <div class="container ">
      <div class="bordered-content col col-md-8 col-md-offset-4">
        <h3 class="black-heading">
          GRAB <span>YOUR</span> BUNDLE BOX NOW
        </h3>
        <hr>
        <h6 class="black-heading">
          <span class="strike">
            $275
          </span>
          <span>
            $99
          </span>
          TODAY ONLY
        </h6>
        <hr>
        <ul>
          <li>
            <img src="../images/icons/ticks/green-tick-i.png" alt="">
            <p>
              Transform your body in just 6 weeks!
            </p>
          </li>
          <li>
            <img src="../images/icons/ticks/green-tick-i.png" alt="">
            <p>
              Change Your Life, Live Healthy
            </p>
          </li>
          <li>
            <img src="../images/icons/ticks/green-tick-i.png" alt="">
            <p>
              Transform, Feel Good, Look Sexy
            </p>
          </li>
          <li>
            <img src="../images/icons/ticks/green-tick-i.png" alt="">
            <p>
              Daily Motivation To Achieve Your Goal
            </p>
          </li>
        </ul>
        <img src="../images/arrows/grey-arrow.png" alt="" class="arrow hidden-xs">
        <div class="center">
          <a ng-hide="firebaseUser" class="button pink-btn" href="" data-toggle="modal" data-target="#authModal">CLAIM MY BUNDLE</a>
          <a ng-show="firebaseUser" href="/secure" class="button pink-btn">
            CLAIM MY BUNDLE
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="center hidden-sm hidden-ms hidden-md hidden-lg hidden-xl">
    <img src="../images/pages/bundle/bottom-bundle-image.png" alt="" class="bottom-image">
  </div>
  <div class="mobile-cta-section  cta-section row hidden-md hidden-lg hidden-xl" role="button" onclick="alert('hello')">
    <div class="inner-content">
      <span>BUY NOW FOR ONLY $99!</span>
    </div>
  </div>
  <div class="row cta-section center hidden-sm hidden-xs">
    <div class="container ">
      <h3 class="white-heading">
        Take The PeachyFit Challenge Now!
      </h3>
      <a ng-hide="firebaseUser" class="button blue-btn" href="" data-toggle="modal" data-target="#authModal">CLAIM MY BUNDLE</a>
      <a ng-show="firebaseUser" href="/secure" class="button blue-btn">
        GET STARTED
      </a>
    </div>
  </div>
</div>
</body>
