<div class="center coming-soon" style="">
  <!--Analytics Script-->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-90554536-1', 'auto');
    ga('send', 'pageview');

  </script>
  <!--End Analytics Script.-->
  <h1>
    The next wave in women's fitness. Are you ready?
  </h1>
  <p>
    PeachyFit is a new fitness brand with the mission of transforming millions of lives by using a sustainable health & fitness program that
    challenges you to <b>become your best self.</b>
  </p>
  <p>
    Be part of the movement...
  </p>

  <form method="POST" action="http://formspree.io/getpeachyfit@gmail.com">
    <input type="hidden" name="_subject" value="New Email Address Submitted!"/>
    <input id="email-input" name="Email" type="email" class="email-input" placeholder="your@emailaddress.com">
    <input type="submit" role="button" id="submitButton" class="button btn-round btn-white" style="cursor:pointer" value="Notify Me">
    <input type="hidden" name="_next" value="/"/>
  </form>
</div>

<!--Couldn't get modal to work properly - will come back to! -->
<div class="modal coming-soon-modal" id="modal coming-soon-modal">
  <div class="modal-content center">
    <h3>
      Thank you!
    </h3>
    <p>
      Your email address has been submitted, we will let you know the moment our new site is live!
    </p>
    <a href="#">
      Close
    </a>
  </div>
</div>