<div class="faqs-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 nav-column">
        <ul>
          <li>
            <a href="">
              Introduction
          </a>
          </li>
          <li>
            <a href="">
              Getting Started
          </a>
          </li>
          <li>
            <a href="">
              Billing & Pricing
          </a>
          </li>
          <li>
            <a href="">
              Feedback & Ideas
          </a>
          </li>
          <li>
            <a href="">
              Need Some More Help?
          </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-8 col-sm-offset-1 content-column">
        <div class="header">
        <h1>
          Frequently Asked Questions
        </h1>
        </div>
        <div class="faq-content">
          <h3>
            What is PeachyFit?
          </h3>
          <p>
            Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>

          <h3>
            What is the 6 Week Shape Up Challenge?
          </h3>
          <p>
            The PeachyFit 6 Week Shape Up Challenge has transformed thousands of lives already, it’s not about losing weight for a short period of time and getting depressed because the diet and exercise routine is unsustainable. It’s about creating a lifestyle which is sustainable, allows you to reach your physical goals and provides you with the map to becoming the best version of yourself. Want to take the 6 week shape up challenge? <a>Get started here!</a>
          </p>

          <h3>
            Who is PeachyFit for?
          </h3>
          <p>
            Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>

          <h3>
            Is the PeachyFit app available on Apple (iOS) and Android (Google Play)?
          </h3>
          <p>
            Yes! We have an app for both operating systems, available on the App Store and Google Play Store. Simply download the app and purchase the 6 week challenge. But wait, <a>click here for 25% off discount</a>, includes massive savings and FREE gifts!
          </p>

          <h3>
            How to activate my Shape Up Challenge inside the app?
          </h3>
          <p>
            Firstly, make sure you have purchased your premium app access - <a>get your PeachyFit Bundle Box here</a>. Once you’ve logged into the app, select the middle navigation option (the Trophy icon). Then tap the ‘Activate Challenge’ button, accept the ‘Success Pledge’ and ‘Activate’! Now it’s time to train hard and transform your body!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
