<body>
<div class="peachy-wrap homepage">
  <div class="big-banners transparent-header row">
    <div class="col col-sm-12 col-md-5 col-md-offset-1">
      <a href="/bundle" class="big-banner left" style="background-image:url('../images/big-banners/bundle-banner.png')">
      </a>
    </div>
    <div class="col col-sm-12 col-md-5">
      <a href="/shop" class="big-banner right" style="margin-top:3px;background-image:url('../images/big-banners/shop-banner.png')">
      </a>
    </div>
  </div>
  <div class="row grey-promo-row">
    <div class="container">
      <div class="col no-padding col-sm-4">
        <img src="../images/pages/home/truck.png" alt="">SUPER SPEEDY DELIVERY!
      </div>
      <div class="col no-padding  col-sm-4">
        <img src="../images/pages/home/tag.png" alt="">LOWEST PRICES
      </div>
      <div class="col no-padding  col-sm-4">
        <img src="../images/pages/home/heart.png" alt="">CUSTOMER SATISFACTION GAURANTEED
      </div>
    </div>
  </div>
  <div class="row community-row">
    <div class="col hidden-sm hidden-xs col-md-6"
         style="background-image:url('../images/graphics/instagrams.png');height: 505px; background-size: contain; background-repeat: no-repeat; background-position: center right;">
      <!--<img src="../images/graphics/instagrams.png" alt="">-->
    </div>
    <div class="col col-sm-12 col-md-5 col-md-offset-1 right-col">
      <div class="content-wrap">
        <h3>
          Join Our Community
        </h3>
        <p>
          We’re very active on Instagram so join the PeachyFit Community, get involved, share your fitness progress and connect with like-minded
          strong women!
        </p>
        <a href="https://www.instagram.com/getpeachyfit"><img style="max-height: 20px;" src="https://cdn.worldvectorlogo.com/logos/instagram-2016.svg" alt="">
          Join Us!
        </a>
      </div>
    </div>
  </div>
</div>
</body>
