<body>
<div class="peachy-wrap old-homepage">
  <div class="page-header row">
    <div class="container">
      <div class="col-sm-6">
        <h1>
          6 WEEK SHAPE UP CHALLENGE
        </h1>
        <p>
          It’s finally here! Get a bigger booty, slimmer waist and tighter abs in just 6 weeks. Transform your body.
        </p>
        <a href="" class="button btn-round btn-white btn-raised">
          Take Challenge
        </a>
      </div>
    </div>
  </div>

  <div class="row grey-promo-row bg-grey overlay">
    <div class="container">
      <div class="col-sm-4">
        <p>
          <img src="/images/icons/small-grey/delivery-truck.png" class="icon small-grey" alt="Delivery Truck"> SUPER SPEEDY DELIVERY!
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <img src="/images/icons/small-grey/price-tag.png" class="icon small-grey" alt="Price Tag"> Lowest Price
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <img src="/images/icons/small-grey/chat.png" class="icon small-grey" alt="Chat"> Customer Satisfaction GAURANTEED
        </p>
      </div>
    </div>
  </div>

  <div class="thirds-row bg-white">
    <div class="container">
      <h3>
        - Free Delivery When You Spend $50 -
      </h3>
      <div class="row">
        <div class="col col-sm-4 no-padding">
          <img src="images/temp/filler-image-food.png" alt="">
          <div class="text-content">
            <h4>
              6 WEEK SHAPE UP BUNDLE
            </h4>
            <p>
              Check out our range of exclusive bundles. Huge savings!
            </p>
            <a href="" class="button btn-peach btn-raised btn-round">
              Buy The Bundle
            </a>
          </div>
        </div>
        <div class="col col-sm-4 no-padding">
          <img src="images/temp/filler-image-food.png" alt="">
          <div class="text-content">
            <h4>
              PRODUCT RANGE
            </h4>
            <p>
              Check out our range of exclusive bundles. Huge savings!
            </p>
            <a href="" class="button btn-peach btn-raised btn-round">
              Buy The Bundle
            </a>
          </div>
        </div>
        <div class="col col-sm-4 no-padding">
          <img src="images/temp/filler-image-food.png" alt="">
          <div class="text-content">
            <h4>
              EBOOKS & GUIDES
            </h4>
            <p>
              Check out our range of exclusive bundles. Huge savings!
            </p>
            <a href="" class="button btn-peach btn-raised btn-round">
              Buy The Bundle
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row bg-grey overlay">
    <div class="container">
      <div class="col-sm-6">
        <img src="" alt="">
        <a href="" class="button btn-peach btn-round btn-raised learn-more-btn">
          Learn More
        </a>
      </div>
      <div class="col-sm-6">
        <img src="" alt="">
      </div>
    </div>
  </div>

  <div class="row testimonials">
    <div class="container center">
      <h3>
        Real Girls, Real results
      </h3>
      <!--Quote Slider Here-->
    </div>
  </div>

  <div class="row bg-blue apparel-section">
    <div class="container">
      <div class="col-sm-6">
        <h3>
          INTRODUCING PEACHYFIT APPAREL
        </h3>
        <p>
          Our new line of active workout apparel. PeachyFit leggings, sports bra, shaker bottles & more!
        </p>
        <p class="discount-note">
          Use 10% Discount Code: <span>PEACHY10</span>
        </p>
        <a href="" class="button btn-round btn-peach btn-raised">
          Shop Apparel
        </a>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container center">
      <h3 class="blue">
        Show us some love on <span class="bold"> Instagram </span> <3
      </h3>
      <div id="instafeed"></div>
      <script type="text/javascript">
        var userFeed = new Instafeed({
          get: 'user',
          userId: '4161831019',
          accessToken: '4161831019.1677ed0.a3a059004cd24c0982d6fdfec916a5f1'
        });
        userFeed.run();
      </script>
      <a href="">
        Follow us @GetPeachyFit
      </a>
    </div>
  </div>

  <div class="row cta-row bg-pink overlay">
    <div class="container center">
      <h2>
        <span class="bold">Transform</span> Your <span class="bold">Body </span>& <span class="bold">Lifestyle</span> In <span class="bold">Just 6 Weeks</span>
      </h2>
      <p>
        <span class="underline">Special Offer!</span> Complete PeachyFit Bundle Only $149
      </p>
      <a href="" class="button btn-white btn-raised btn-round">
        Explore PeachyFit Bundle
      </a>
    </div>
  </div>
  <div class="footer">
    &nbsp;
  </div>
</div>
</body>



