<body>
<!--TODO: Implement full copying of details from billing address to delivery address is checkbox is selected.-->
<div class="peachy-wrap secure-page">
  <div class="container">
    <div class="top-ribbon hidden-xs hidden-sm hidden-md hidden-ms hidden-xl">50% off</div>
  </div>
  <div class="row header-row center" style="">
    <h1>
      TODAY ONLY! <span>50% DISCOUNT</span> ACTIVATED
    </h1>
    <p class="warn">
      EXCLUSIVE limited time discount on the PeachyFit Shape Up Bundle!
    </p>
  </div>
  <div class="row center">
    <img src="../images/pages/bundle/bundle-box.png" alt="" style="max-width: 995px;width:100%;">
  </div>
  <div class="container input-details">
    <div class="row banner-row">
      <!-- <img src="../images/icons/ticks/green-tick-i.png" alt=""><img
        src="http://www.credit-card-logos.com/images/multiple_credit-card-logos-2/credit_card_logos_31.gif" alt=""> -->

      <p class="banner hidden-xs hidden-sm hidden-md hidden-ms"><span></span>50% Savings Today Only! Just $99. (Total savings of $£99)</p>
    </div>
    <form>
      <div class="row billing-row">
        <div class="col col-sm-6">
          <input type="text" title="Name On Card" placeholder="Name On Card" name="billingname">
        </div>
        <div class="col col-sm-6">
          <input type="text" title="Street Address" placeholder="Street Address" name="billingaddress" ng-model="FormData.address">
        </div>
        <div class="col col-sm-6">
          <input type="text" title="Card Number" placeholder="Card Number" name="billingcardnumber" ng-model="FormData.number">
        </div>
        <div class="col col-sm-3">
          <input type="text" title="Post Code" placeholder="Postal/Zip Code" name="billingzipcode" ng-model="FormData.zip_code">
        </div>
        <div class="col col-sm-3">
          <select id="country" title="Country" name="billingcountry" ng-model="FormData.country">
            <option value="Default">Country</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="United States">United States</option>
          </select>
        </div>
        <div class="clearfix"></div>
        <div class="col col-sm-2">
          <select id="expiry" title="Expiry Day" name="billingexpirymonth" ng-model="FormData.exp_month">
            <option value="Default">Month</option>
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>
        <div class="col col-sm-2">
          <select id="expiryyear" title="Expiry Year" name="billingexpiryyear"  ng-model="FormData.exp_year">
            <option value="default">Year</option>
            <option value="2023">2023</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
          </select>
        </div>
        <div class="col col-sm-2">
          <input type="text" title="Security Code" placeholder="Security Code" name="billingsecuritycode" ng-model="FormData.cvc">
        </div>
        <div class="col col-sm-6">
          <input type="text" title="Phone Number" placeholder="Phone Number" name="billingphonenumber"  ng-model="FormData.phoneNumber">
        </div>
      </div>
      <div class="row delivery-option-row">
        <p>
          Deliver Address <input type="checkbox" title="SameAsDelivery" name="sameshipping" onclick="B2S(this.form)"> Same as
           billing address
        </p>
      </div>
      <!-- <div class="row delivery-row">
        <div class="col col-sm-6">
          <input type="text" title="Name On Card" placeholder="Name On Card" name="shippingname">
        </div>
        <div class="col col-sm-6">
          <input type="text" title="Street Address" placeholder="Street Address" name="shippingaddress">
        </div>
        <div class="col col-sm-6">
          <input type="text" title="Card Number" placeholder="Card Number" name="shippingcardnumber">
        </div>
        <div class="col col-sm-3">
          <input type="text" title="Post Code" placeholder="Postal/Zip Code" name="shippingzipcode">
        </div>
        <div class="col col-sm-3">
          <select id="shippingcountry" title="Country" name="shippingcountry">
            <option value="Default">Country</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="United States">United States</option>
          </select>
        </div>
        <div class="clearfix"></div>
        <div class="col col-sm-2">
          <select id="shippingexpiry" title="Expiry Day" name="shippingexpirymonth">
            <option value="Default">Month</option>
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
        </div>
        <div class="col col-sm-2">
          <select id="shippingexpiryyear" title="Expiry Year" name="shippingexpiryyear">
            <option value="default">Year</option>
            <option value="2023">2023</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
          </select>
        </div>
        <div class="col col-sm-2">
          <input type="text" title="Security Code" placeholder="Security Code" name="shippingsecuritycode">
        </div>
        <div class="col col-sm-6">
          <input type="text" title="Phone Number" placeholder="Phone Number" name="shippingphonenumber">
        </div>
      </div> -->
      <p class="terms">
        By submitting this order you agree to our Terms or Service, Cancellation & Privacy Policies. The 50% off discount is an introductory offer only available for a limited time. This Exclusive Bundle Box Deal will give also give you access to discounted rates on PeachyFit monthly subscriptions once they're available.
      </p>
      <div class="row submit-row">
        <div class="col-sm-6">
          <p class="total">
            Total $99.00 (6 Week Shape Up Bundle)
          </p>
        </div>
        <div class="col-sm-6">
          <a type="button" id="checkout-button" class="button pink-btn square-btn float-right" ng-click="createToken()">
            CHECKOUT NOW
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
