<body>
<div class="peachy-wrap secure-page completed">
  <div class="container">
    <div class="row center">
      <h2>
        Order Complete! Thank you for choosing PeachyFit.
      </h2>
      <p>
        NOW: Download the PeachyFit App to Activate your 6 Week Challenge
      </p>
    </div>
    <div class="row">
      <div class="col col-md-6">
        <img src="../images/pages/secure/securecompleted-phones.png" alt="" style="width:100%;">
      </div>
      <div class="col col-md-6">
        <p class="next-steps">
          Next Steps:
        </p>
        <ul>
          <li>
            <p>
              <img src="../images/icons/ticks/green-tick-i.png" alt=""> Download PeachyFit iOS or Adnroid App
            </p>
          </li>
          <li>
            <p>
              <img src="../images/icons/ticks/green-tick-i.png" alt=""> Login using your credentials
            </p>
          </li>
          <li>
            <p>
              <img src="../images/icons/ticks/green-tick-i.png" alt=""> Set up your profile & activate challenge
            </p>
          </li>
        </ul>
        <div class="email-notice">
          <img src="../images/pages/secure/envelope.png" alt="">
          <p>We've sent these details to your email too!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row grey-bg center delivery-notice">
    <div class="container">
      <p>
        Your <strong>PeachyFit Bundle Box</strong> will be shipped out to you shortly!
        <img src="../images/pages/secure/delivery-box.png" alt="">
      </p>
    </div>
  </div>
</div>
</body>
